@charset "utf-8";


@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

@font-face {
  font-family: 'FonteLogo';
  src: url("../fonts/bubblegum-sans-regular.otf");
}

body {
  font-family: Arial, sans-serif;
  background-color: #dddddd;
  color: rgba(0, 0, 0, 1);
}

/*  */
.fontelogo {
  font-family: 'FonteLogo', fantasy;
}

/* posicionamentos da página */
#interface {
  background-color: #fff;
  width: 1000px;
  margin: -20px auto 0 auto;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}



/* design imagens figure */
.foto-legenda{
  position: relative;
  border: 8px solid white;
  box-shadow: 1px 1px 4px black;
  
}
.foto-legenda:hover figcaption{
  opacity: 1;
}
.foto-legenda figcaption {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  transition: 1s;
  transition: opacity 1s;

}
.foto-legenda img {
  width: 100%;
  height: 100%;
}

/* formatações de textos */

p{
  text-indent: 50px;
  text-align: justify;
  font-size: 12pt;
}

/* tabela */
#tabelaspecs{
  border: 1px solid #606060;
  border-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}
#tabelaspecs caption span {
  display: block;
  color: black;
  margin-top: 10px;
  font-size: 8pt;
  float: right;
}
#tabelaspecs td{
  border: 1px solid #606060;
  padding: 10px;
  
}
.ce {
  color: #fff;
  background-color: #606060;

}
.cd {
  background-color: #cecece;
}