@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
  font-family: 'FonteLogo';
  src: url("../fonts/bubblegum-sans-regular.otf");
}
body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
  }
  /*  */
  .fontelogo{
    font-family: 'FonteLogo', sans-serif;  }